* {
  box-sizing: border-box;
  margin    : 0;
  padding   : 0;
}

html {
  font-size: 62.5%;
}

:root {
  /* Colors */
  --blue-dark : #100E1D;
  --blue-light: #343856;
  --grey-light: #E7E7EB;
  --grey-mid  : #A09FB1;
  --grey-dark : #88869D;

}

.App {
  display         : grid;
  place-items     : center;
  height          : 100vh;
  background-color: var(--blue-dark);
}

.logIn {
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
  width          : 600px;
  height         : 350px;
  border         : 5px solid var(--blue-light);
  border-radius  : 7px;
}

.logIn-inputs input {
  margin          : 10px;
  width           : 200px;
  height          : 40px;
  padding-left    : 10px;
  border          : 3px solid var(--blue-light);
  background-color: transparent;
  color           : var(--grey-light);
  font-size       : 1.6rem;
}

.logIn-inputs input:focus {
  outline: none;
}

.logIn button {
  width           : 200px;
  height          : 50px;
  border          : none;
  border-radius   : 7px;
  background-color: var(--blue-light);
  color           : var(--grey-light);
  font-size       : 1.6rem;
}

.logIn button:hover {
  cursor          : pointer;
  background-color: var(--grey-dark);
}

/* Chat */

.chatContainer {
  display       : flex;
  flex-direction: column;
  width         : 600px;
  height        : 350px;
  border        : 5px solid var(--blue-light);
  border-radius : 10px;
}

.chatContainer .messages {
  display       : flex;
  flex-direction: column;
  flex          : 80%;
  width         : 100%;
  color         : white;
}

.chatContainer .messageInputs {
  display   : flex;
  flex      : 20%;
  width     : 100%;
  border-top: 5px solid var(--blue-light);
}

.chatContainer .messageInputs input {
  flex        : 80%;
  border      : none;
  height      : calc(100% - 5px);
  padding-left: 20px;
  font-size   : 20px;
}

.chatContainer .messageInputs button {
  flex            : 20%;
  border          : none;
  height          : calc(100% - 5px);
  font-size       : 1.8rem;
  background-color: var(--blue-light);
  color           : var(--grey-light);
}

.messageIndividual {
  display         : inline-block;
  width       : calc(100% - 60%);
  min-height      : 50px;
  padding         : 10px;
  border-radius   : 10px;
  margin          : 20px;
  background-color: var(--blue-light);
}

.messageIndividual.You {
  align-self: flex-end;
  text-align: right;
}

.messageIndividual h3 {
  margin-bottom: 5px;
  font-size    : 1.2rem;
  font-weight  : bold;
  color        : green;
  overflow-wrap: break-word;
}

.messageIndividual.You h3 {
  text-align: right;
}

.messageIndividual .You h3 {
  text-align: right;
}

.messageIndividual p {
  font-size    : 1.2rem;
  color        : var(--grey-light);
  overflow-wrap: break-word;
}